# Pipeline ETL + Streaming — Tendances Musicales v2
# Copiez en .env et renseignez LASTFM_API_KEY

LASTFM_API_KEY=VOTRE_CLE_API_LASTFM_ICI

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
FLINK_JOBMANAGER_URL=http://flink-jobmanager:8081

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=music-trends-etl

POSTGRES_GOLD_HOST=postgres-gold
POSTGRES_GOLD_PORT=5432
POSTGRES_GOLD_DB=music_trends_db
POSTGRES_GOLD_USER=gold
POSTGRES_GOLD_PASSWORD=gold123

AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow
